@font-face {
  font-family: "AlbertSans";
  src: url("../fonts/../../public/fonts/Albert_Sans/AlbertSans-Italic-VariableFont_wght.ttf")
    format("truetype");
}

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  font-weight: bold;
  width: 90vw;
  height: 90vh;
  overflow: hidden;
}

.contactLeftSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: flex-start;
}

.contactLeftSide h1 {
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: bold;
}

.imagewrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  justify-content: flex-start;
  font-weight: 400;
}

.imagewrapper > div {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 70px;
 
}

.contactLeftSide > div:nth-of-type(2) {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 16px;
  padding-left: 60px;

}

.contactLeftSide > div:nth-of-type(2) label {
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 90%;
  font-weight: 400;
}

.contactRightSide {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: fit-content;
  align-content: center;
  justify-self: center;
  width: 80%;
  margin: auto;
  max-width: 900px;
}

.contactRightSide h3 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.contactform {
  display: grid;
  grid-template-rows: repeat(4, auto);
  row-gap: 20px;
}

.contactform > input,
.contactform > textarea {
  margin-bottom: 10px;
  height: 40px;
  width: 100%;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.contactform > input:focus,
.contactform > textarea:focus {
  border-color: orange;
  outline: none;
  z-index: 2;
}

.contactform > input::placeholder,
.contactform > textarea::placeholder {
  color: #999999;
  font-size: 16px;
}

.contactform > input:focus::placeholder,
.contactform > textarea:focus::placeholder {
  color: black;
  position: absolute;
  top: -25px;
  left: 20px;
  transition: all 0.3s ease;
  transform-origin: left top;
  z-index: -1;
}

.contactform > input:not(:focus)::placeholder,
.contactform > textarea:not(:focus)::placeholder {
  color: #999999;
  position: relative;
  top: 0;
  left: 0;
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .contact {
    grid-template-columns: 1fr;
    height: auto;

    .imagewrapper > div {
      margin-left: 0;
    }
    .contactLeftSide div:nth-child(3){
    
    } 

    .contactRightSide {
      width: 100%;
      max-width: none;
    }
  }
}
