/* styles/globals.css */
@import "bootstrap/dist/css/bootstrap.css";

.my-card-text {
  margin-bottom: 6px !important;
  padding: 0 !important;
}
footer {
  position: absolute;
  position: relative;
  bottom: 0;
  width: auto;
  margin: 10px;
  margin-right: 20px !important;
  background-color: #121212;
  color: #ffffff;
}

.Navbar {
  top: 59px;
  left: 150px;
  width: 182px;
  height: 40px;
  /* UI Properties */
  /* background: transparent url("../../public/Images/logo.jpg") 0% 0%
    no-repeat padding-box; */
  opacity: 1;
  animation: heartbeat 0s infinite, bounce 0s infinite;
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.animate__animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate__fadeIn {
  animation-name: fadeIn;
}

.Navbgchange {
  box-shadow: 2px 2px 10px rgba(241, 227, 227, 0.5);
  /* background: linear-gradient(102deg,#ffdb22,#04aeed); */
}
.Navtabs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Navtabs .nav-link {
  color: #121212 !important;
  font-size: 18px !important;
  font-family: Albert Sans;
  font-weight: Bold;
}

.SignupButton {
  border-radius: 30px !important;
  border: 1px solid #ba6c34 !important ;
  opacity: 1 !important;
  color: #121212 !important;
  background-color: white !important;
  width: fit-content !important;
  height: fit-content !important;
  font-size: 18px !important;
  font-family: Albert Sans;
  font-weight: bold !important;
}
.centeringimage {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Headerfont {
  font-weight: bolder;
  color: black;
}

/* landingpage */
.landingpage {
  height: 629px;
}
.Bodytext {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px !important;
}
.Bodytext h2 {
  font-size: 54px;
  font: bold !important;
  color: #121212;
  margin-bottom: 10px;
  opacity: 1;
}
.Bodytext p {
  font-size: 18px;
  font: bold !important;
  color: #121212 !important;
  opacity: 0.85;
}
.Booking-Button {
  top: 561px;
  left: 150px;
  width: 264px;
  height: 60px;
  /* UI Properties */
  /* background: transparent url('img/Rectangle 2906.png') 0% 0% no-repeat padding-box; */
  border-radius: 30px;
  font-size: 18px !important;
  background: linear-gradient(102deg, #ff8e3c, #b96c34);
  opacity: 100%;
  color: #ffffff;
  border: none;
  animation-name: colorChange;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes colorChange {
  0% {
    background: linear-gradient(102deg, #ff8e3c, #b96c34);
    color: #ffffff;
  }
  50% {
    background: linear-gradient(102deg, #b96c34, #ff8e3c);
    color: #ffffff;
  }
  100% {
    background: linear-gradient(102deg, #ff8e3c, #b96c34);
    color: #ffffff;
  }
}

.summaryBlock {
  top: 954px;
  left: 150px;
  width: auto;
  height: 150px;
  color: #ffffff;
  /* UI Properties */
  background: black 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px !important;
}

.summaryBlock > div {
  font-size: 44px;
  font-family: Albert Sans;
  font-weight: Regular;
  /* border-right: 2px solid whitesmoke; */
  height: auto;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.summaryBlock > div h1 {
  border-right: 2px solid whitesmoke;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0 10px;
}
.summaryBlock > div h6 {
  margin: 0;
  padding: 0;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .summaryBlock {
    height: auto;
  }

  .summaryBlock > div {
    width: 100%;
    font-size: 32px;
    text-align: center;
    margin: 10px 0;
    /* border-right: none; */
    /* border-right: 2px solid whitesmoke; */
    height: auto;
  }

  .summaryBlock h6 {
    text-align: center;
    font-size: 14px;
  }

  .summaryBlock > div {
    flex: 1 0 50%;
    max-width: 50%;
    text-align: center;
  }
}

/* Photographers Display */
.photographersDisplay h1 {
  font-size: 38px;
  font-family: Albert Sans;
  font-weight: bold;
  opacity: 1;
  height: 70px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.photographerCard {
  background-color: white;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photographerCard img {
  width: 40%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  display: block;
  margin: 0 auto;
}

.photographerCard h2 {
  font-size: 14px;
  text-align: center;
  justify-content: center;
  align-items: center;
  opacity: 1;
  font-weight: bold;
  font-family: Albert Sans;
}
.details-btn {
  background-color: #f0f0f0;
  font-family: Albert Sans;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  color: #262d37;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  border: none;
}

.book-btn {
  background-color: #8e2adb;
  font-family: Albert Sans;
  font-weight: SemiBold;
  font-size: 16px;
  opacity: 1;
  color: #ffffff;
  border-radius: 10px;
  height: 30px;
  width: auto;
  border: none;
}
.photographerCard p {
  margin: 5px 0;
  font-size: 14px;
  text-align: center;
  color: #121212;
}

.photographersDisplay > .row > .col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photographerCard .bio {
  margin-bottom: 20px;
}
.view-photographersButton {
  border-radius: 30px;
  font-size: 18px !important;
  background: linear-gradient(102deg, #ff8e3c, #b96c34);
  opacity: 100%;
  color: #ffffff;
  border: none;
  animation-name: colorChange;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  justify-content: center;
  align-items: center;
  display: block;
  margin: 0 auto;
  width: 200px;
}
.process {
  align-items: center;
  justify-content: center;
  display: block;
}
.process h2 {
  margin-bottom: 30px;
}
.processSteps .processImage {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background: transparent url("../../public/Images/Ourprocess/person.svg") 0% 0%
    no-repeat padding-box;
}
.processSteps p {
  font-family: Albert Sans;
  font-weight: bold;
  font-size: 18px;
  color: #121212;
  opacity: 1;
  gap: 30px;
}
.processSteps > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}
/* Our Photographers Gallery */
.ImageContainer{
  position: absolute;
  top: 90%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  font-family: Albert Sans;
  font-weight:500;
  opacity:1;
}
/* Carousel Container */
.Carosel-Container{
  margin-top: 30px;
  height: 300px;
  border-radius: 20px !important;
}
