/* styles/globals.css */
@import "bootstrap/dist/css/bootstrap.css";

.my-card-text {
  margin-bottom: 6px !important;
  padding: 0 !important;
}
footer {
  position: absolute;
  position: relative;
  bottom: 0;
  width: auto;
  margin: 10px;
  margin-right: 20px !important;
  background-color: #121212;
  color: #ffffff;
}

.Navbar {
  top: 59px;
  left: 150px;
  width: 182px;
  height: 40px;
  /* UI Properties */
  /* background: transparent url("../../public/Images/logo.jpg") 0% 0%
    no-repeat padding-box; */
  opacity: 1;
  animation: heartbeat 0s infinite, bounce 0s infinite;
}
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.animate__animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate__fadeIn {
  animation-name: fadeIn;
}

.Navbgchange {
  box-shadow: 2px 2px 10px rgba(241, 227, 227, 0.5);

  /* background: linear-gradient(102deg,#ffdb22,#04aeed); */
}
.Navtabs {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px !important;
  /* font-family: Albert Sans; */
  font-weight: 600;
  opacity: 1;
}
.Navtabs .nav-link {
  color: #121212 !important;
}
.Navtabs .nav-link {
  color: black !important;
  text-decoration: none !important;
  padding: 5px !important;
  margin-right: 10px !important;
}

.Navtabs .nav-link.active,
.Navtabs .nav-link:hover {
  background-color: #ffa83c!important;
  /* color: orange !important; */
  border-radius: 8px !important;
}

.Navtabs .nav-link.active {
  color: #dc5a94 !important;
}

.SignupButton {
  border-radius: 20px !important;
  border: 1px solid #ba6c34 !important ;
  opacity: 1 !important;
  color: #ba6c34 !important;
  background-color: white !important;
  width: fit-content !important;
  height: fit-content !important;
  font-size: 16px !important;
  /* font-family: Albert Sans !important; */
  font-weight: 600 !important;
}
.centeringimage {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Headerfont {
  font-weight: bolder;
  color: black;
}

/* landingpage */

.landingpage {
  height: 629px;
}
.Bodytext {
  display: grid !important;
  grid-template-columns: 1fr 1fr !important;
  justify-content: center;
  align-items: center;
  margin: 40px 0px !important;
}
.mobilescreeens {
  display:grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 0px !important;
  
}
.Bodytext h2 {
  font-size: 50px;
  font: bold !important;
  color: #121212;
  margin-bottom: 20px;
  opacity: 1;
}

@media only screen and (max-width: 1200px) {
  .Bodytext {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .Bodytext h2 {
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  .Bodytext p {
    font-size: 16px;
    line-height: 1.2;
  }
  .Booking-Button {
    width: 200px;
    height: 50px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 992px) {
  .Bodytext h2 {
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  .Bodytext p {
    font-size: 14px;
    line-height: 1.2;
  }
}

@media only screen and (max-width: 768px) {
  .Bodytext h2 {
    font-size: 36px;
    line-height: 1.2;
  }
  .Bodytext p {
    font-size: 14px;
    line-height: 1.2;
  }
  .Booking-Button {
    width: 180px;
    height: 45px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 576px) {
  .Bodytext h2 {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 4px;
  }
  .Bodytext p {
    font-size: 14px;
    line-height: 1.2;
  }
  .Booking-Button {
    width: 150px;
    height: 40px;
    font-size: 14px;
  }
}

.Bodytext p {
  font-size: 16px;
  font: bold !important;
  color: #121212 !important;
  opacity: 0.85;
}
.Booking-Button {
  top: 561px;
  left: 150px;
  width: 264px;
  height: 60px;
  border-radius: 30px;
  font-size: 18px !important;
  background: linear-gradient(102deg, #ff8e3c, #34b95e);
  opacity: 100%;
  color: #ffffff;
  border: none;
  animation-name: colorChange;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes colorChange {
  0% {
    background: linear-gradient(102deg, #ff8e3c, #b96c34);
    color: #ffffff;
  }
  50% {
    background: linear-gradient(102deg, #b96c34, #ff8e3c);
    color: #ffffff;
  }
  100% {
    background: linear-gradient(102deg, #ff8e3c, #b96c34);
    color: #ffffff;
  }
}

.summaryBlock {
  margin: 20px !important;
  display: grid !important;
  grid-template-columns: repeat(4, 1fr) !important;
  grid-gap: 10px;
  border-radius: 20px;
  /* background: black 0% 0% no-repeat padding-box; */
  color: #ffffff;
  opacity: 1;
  height: 90px;
  overflow: hidden;
  background: #2c3e50; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c3e50
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c3e50
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.summaryBlock > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.summaryBlock > div:not(:last-child):after {
  content: "";
  position: absolute;
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
  height: 60%;
  width: 1.6px;
  background-color: whitesmoke;
}

@media (max-width: 768px) {
  .summaryBlock {
    grid-template-columns: repeat(2, 1fr) !important;
    height: auto;
  }
  .summaryBlock > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .summaryBlock > div:not(:last-child):after {
    content: "";
    position: absolute;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    height: 80%;
    width: 1.6px;
    background-color: whitesmoke;
  }
}

@media (max-width: 480px) {
  .summaryBlock {
    grid-template-columns: repeat(2, 1fr) !important;
    height: auto;
  }
  .summaryBlock > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: transform 0.2s ease-in-out;
  }
  .summaryBlock h4 {
    font-size: 12px !important;
  }
  .summaryBlock h3 {
    font-size: 12px !important;
  }
  .summaryBlock label {
    font-size: 10px !important;
  }
  .summaryBlock > div:not(:last-child):after {
    content: "";
    position: absolute;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    height: 60%;
    width: 1.6px;
    background-color: whitesmoke;
  }
}
.summaryBlock > div :hover {
  transform: rotate(-5px);
  color: #d577a0;
  /* background-color: whitesmoke; */
}

/* Photographers Display */
.photographersDisplay {
  margin-bottom: 20px !important;
}
.photographersDisplay h1 {
  font-size: 48px;
  /* font-family: Albert Sans; */
  font-weight: bold;
  opacity: 1;
  height: 70px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 576px) and (min-width: 100px) {
  .photographersDisplay h1 {
    font-size: 38px;
    font-family: Albert Sans;
    font-weight: bold;
    opacity: 1;
    height: 70px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
  }
}
.photographerCard {
  background-color: white;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photographerCard img {
  width: 40%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
  display: block;
  margin: 0 auto;
}

.photographerCard h2 {
  font-size: 14px;
  text-align: center;
  justify-content: center;
  align-items: center;
  opacity: 1;
  font-weight: bold;
  font-family: Albert Sans;
}
.details-btn {
  background-color: #f0f0f0;
  font-family: Albert Sans;
  font-weight: SemiBold;
  font-size: 15px;
  opacity: 1;
  color: #262d37;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  border: none;
}

.book-btn {
  background-color: #8e2adb;
  font-family: Albert Sans;
  font-weight: SemiBold;
  font-size: 15px;
  opacity: 1;
  color: #ffffff;
  border-radius: 10px;
  height: 30px;
  width: auto;
  border: none;
}
.photographerCard p {
  margin: 5px 0;
  font-size: 14px;
  text-align: center;
  color: #121212;
}

.photographersDisplay > .row > .col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photographerCard .bio {
  margin-bottom: 20px;
}
.view-photographersButton {
  border-radius: 30px;
  font-size: 20px !important;
  height: 60px;
  background: linear-gradient(102deg, #ff8e3c, #b96c34);
  opacity: 1;
  color: #ffffff !important;
  border: none;
  animation-name: colorChange;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  justify-content: center;
  align-items: center;
  display: block;
  margin: 20px auto;
  width: 300px;
}
.process {
  align-items: center;
  justify-content: center;
  display: block;
  margin: 20px 20px !important;
}
.process h2 {
  margin-bottom: 30px;
  font-size: 34px !important;
  font-weight: 700;
}

.processSteps .processImage {
  width: 20px;
  height: 20px;
}
.backgroundAdjust {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 6px;
  background-color: #121212;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.processSteps p {
  font-family: Albert Sans;
  font-weight: bold;
  font-size: 18px;
  color: #121212;
  opacity: 1;
  gap: 30px;
  margin-bottom: 3px !important;
}
.processSteps > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}
/* Popular Photographers */
.ourPhotographers h2 {
  margin: 30px auto;
  margin-top: 0 !important;
  font-size: 34px !important;
  font-weight: 700;
}
.popularPhotographers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  column-gap: 10px !important;
  width: 100% !important;
}
.popularPhotographers Image {
  max-width: 100% !important;
  height: auto !important;
  min-width: auto !important;
  border-radius: 20px !important;
}
.eventsHandling h2 {
  margin: 30px auto;
  font-size: 34px !important;
  font-weight: 700;
}
/* Our Photographers Gallery */
.ImageContainer {
  position: absolute;
  top: 90%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-family: Albert Sans;
  font-weight: 500;
  opacity: 1;
}
/* Carousel Container */
.Carosel-Container {
  margin-top: 30px;
  height: 300px;
  border-radius: 20px !important;
}

.Logintext {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.image-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 100%;
  background-color: #f5f5f5;
  overflow: visible;
}

.form-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  height: 100%;
}

.top-back {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.top-back a {
  font-size: 14px;
  color: #333;
  text-decoration: none;
}

.top-back a:hover {
  color: #ff8e3c;
}

.form-column h2 {
  margin-top: 0;
  font-size: 32px;
  font-weight: bold;
  font-family: Albert Sans;
  justify-content: flex-start;
}
.form-column label {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #121212;
  opacity: 0.75;
  font-family: Albert Sans;
}

.input-container {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

input[type="text"] {
  width: 80%;
  height: 40px;
  padding: 10px 10px 10px 30px;
  font-size: 18px;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
  transition: border-bottom-color 0.3s ease;
  position: relative;
}

input[type="text"]:focus {
  outline: none;
  border-color: #ff8e3c;
}
input[type="text"]::placeholder {
  position: absolute;
  top: center;
  left: 0;
  right: 0;
  text-align: start;
  margin-left: 5px;
  font-size: 12px;
  color: #999;
  opacity: 1;
  transition: all 0.3s ease;
}
input[type="text"]:focus::placeholder {
  top: -12px;
  font-size: 10px;
  color: #121212;
  opacity: 0.7;
}

.OTP-Button {
  top: 561px;
  left: 150px;
  width: 264px;
  height: 60px;
  /* UI Properties */
  /* background: transparent url('img/Rectangle 2906.png') 0% 0% no-repeat padding-box; */
  border-radius: 30px;
  font-size: 18px !important;
  background: linear-gradient(102deg, #ff8e3c, #b96c34);
  opacity: 100%;
  color: #ffffff;
  border: none;
  animation-name: colorChange;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.signup-options {
  margin-top: 30px;
}
.signup-options span {
  font-family: Albert Sans;
  font-weight: 200;
  opacity: 0.85;
}
.icon-container {
  margin-top: 20px;
  display: flex;
}
.google-icon,
.facebook-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 5px #303b8929;
}
.google-icon {
  background-color: white;
  margin-right: 10px;
}
.facebook-icon {
  background-color: white;
  color: white;
}

/* OTP Verification Page */
.resend-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.resend-container label > span {
  margin-left: 10px;
  font-weight: bold;
}

/* Terms and conditions */
.terms-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 14px;
  margin-bottom: 20px;
}
.terms-container label {
  margin-left: 10px;
}
.static-content-container {
  height: 300px;
  overflow-y: scroll;
  overflow-x: scroll;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .profile-image {
    width: 100%;
  }

  .profile-text {
    width: 100%;
    margin-top: 10px;
  }
}
@media (max-width: 992px) {
  .profile-image {
    width: 100%;
  }

  .profile-text {
    width: 100%;
    margin-top: 10px;
  }
}
/* All screens */
/* .Container-fluid {
  padding: 0;
  margin: 0;
}

.Logintext {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.image-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 100%;
  background-color: #f5f5f5;
  overflow: visible;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.form-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 100%;
}

.top-back {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.top-back a {
  font-size: 14px;
  color: #333;
}

h2 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: 700;
}

.input-container {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

input[type="text"] {
  width: 100%;
  padding: 10px 10px 10px 30px;
  font-size: 18px;
  border: none;
  border-bottom: 2px solid #333;
  transition: border-bottom-color 0.3s ease;
}

input[type="text"]:focus {
  outline: none;
  border-bottom-color: #e84c3d;
}

input[type="text"] + label {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 18px;
  color: #333;
  transition: top 0.3s ease, font-size 0.3s ease;
}

input[type="text"]:focus + label {
  top: -15px;
  font-size: 14px;
  color: #e84c3d;
}

.Booking-Button {
  background-color: #e84c3d;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Booking-Button:hover {
  background-color: #d33726;
}

@media screen and (max-width: 991px) {
  .image-column {
    flex: 0 0 50%;
    background-image: url("/images/Ourprocess/Group 5982@2x.png");
  }
  
  .form-column {
    flex: 0 0 50%;
  }
}

@media screen and (max-width: 767px) {
  .image-column {
    flex: 1 0 100%;
  }
  
  .form-column {
    flex: 1 0 100%;
  }
  
  .input-container {
    width: 80%;
  }
  
  input[type="text"] {
    font-size: 16px;
  }
  
  h2 {
    font-size: 28px;
  }
  
  .Booking-Button {
    font-size: 16px;
    padding: 8px 16px;
  }
}

Extra small devices (phones)
@media only screen and (max-width: 575px) {
  .Logintext {
    height: auto;
    flex-direction: column;
  }

  .image-column {
    height: 60%;
  }

  .form-column {
    height: 40%;
  }

  .input-container {
    margin-bottom: 20px;
  }

  input[type="text"] {
    font-size: 16px;
    padding: 10px;
  }

  input[type="text"] + label {
    font-size: 16px;
    left: 20px;
  }

  .Booking-Button {
    font-size: 16px;
    padding: 10px 15px;
  }
}

Small devices (landscape phones)
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .image-column {
    height: 100%;
    width: 50%;
  }

  .form-column {
    height: 100%;
    width: 50%;
  }

  h2 {
    font-size: 28px;
  }

  input[type="text"] {
    font-size: 16px;
    padding: 12px;
  }

  input[type="text"] + label {
    font-size: 16px;
    left: 20px;
  }

  .Booking-Button {
    font-size: 16px;
    padding: 12px 20px;
  }
}

Medium devices (tablets)
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .image-column {
    height: 100%;
    width: 50%;
  }

  .form-column {
    height: 100%;
    width: 50%;
  }

  h2 {
    font-size: 32px;
  }

  input[type="text"] {
    font-size: 18px;
    padding: 14px;
  }

  input[type="text"] + label {
    font-size: 18px;
    left: 25px;
  }

  .Booking-Button {
    font-size: 18px;
    padding: 14px 25px;
  }
}

Large devices (desktops)
@media only screen and (min-width: 992px) {
  input[type="text"] {
    font-size: 18px;
    padding: 14px;
  }

  input[type="text"] + label {
    font-size: 18px;
    left: 30px;
  }

  .Booking-Button {
    font-size: 18px;
    padding: 14px 30px;
  }
} */
/* Photographer.css from bharath */
/*  Photographer css....*/
.breadcrumb {
  margin-top: 20px;
}
.grid-container > div > div {
  display: grid;
  grid-template-columns: 300px 800px;
  grid-gap: 2rem;
}

.info > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
}
.info > div > div > h4 {
  font-size: 32px;
}
.info > div > div > h6 {
  font-size: 15px;
  color: #121212;
  opacity: 80%;
}
.info p {
  max-width: 60%;
  font-size: 18px;
  opacity: 70%;
}

.fullname {
  display: grid !important;
  grid-template-columns: 150px 1fr;
}

.fullname label {
  font-size: 14px;
  opacity: 70%;
}
.fullname h6 {
  opacity: 1;
  font-size: 15px;
}
.cardmain {
  display: grid !important;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr) !important;
}

.card1 {
  display: grid !important;
  grid-template-columns: 50px 150px;
  background: #f8f4ee 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  padding: 10px;
  grid-gap: 20px;
}
.card1 > div:nth-child(1) {
  padding-top: 10px;
}
.card1 h6 {
  font: normal normal bold 28px/30px Albert Sans;
  letter-spacing: 0px;
  color: #121212;
  opacity: 1;
  margin-top: 10px;
}
/* .card1 p{
  font: normal normal medium 16px/44px Albert Sans;
letter-spacing: 0px;
color: #121212;
opacity: 0.5;
margin-right: 80px;
} */
.card2 {
  display: grid !important;
  grid-template-columns: 50px 150px;
  background: #f4f4ff 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  padding: 10px;
  grid-gap: 20px;
}
.card2 > div:nth-child(1) {
  padding-top: 10px;
}
.card2 h6 {
  font: normal normal bold 28px/30px Albert Sans;
  letter-spacing: 0px;
  color: #121212;
  opacity: 1;
  margin-top: 10px;
}
.card2 p {
  font: normal normal medium 16px/44px Albert Sans;
  letter-spacing: 0px;
  color: #121212;
  opacity: 0.5;
}
.card3 {
  display: grid !important;
  grid-template-columns: 50px 150px;
  background: #eef8f7 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  padding: 10px;
  grid-gap: 20px;
}
.card3 > div:nth-child(1) {
  padding-top: 10px;
}
.card3 h6 {
  font-size: 30px;
  color: #121212;
  opacity: 1;
  margin-top: 10px;
}
.card3 i {
  font-size: 14px;
  color: #006fd1;
}
.card3 p {
  font: normal normal medium 16px/44px Albert Sans;
  letter-spacing: 0px;
  color: #121212;
  opacity: 0.5;
}
.portfolio-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}
.portfolio-wrapper a {
  text-decoration: none;
  color: red;
}
.card5 {
  background: transparent linear-gradient(182deg, #0d0d0d00 0%, #cec9c9 100%) 0%
    0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  padding: 20px;
}
.card5 > div > div > div:nth-child(1) {
  margin-bottom: 10px;
}

.card6 {
  margin-bottom: 10px;
}
.portfolio-title {
  font-weight: 900;
  font-size: 20px;
  text-decoration: none;
}
.cameras {
  display: grid !important;
  grid-template-columns: repeat(3,360px) !important;
  grid-gap: 20px;
}
.camera1 img {
  margin-top: 10px;
  margin-left: 10px;
}

.camera1 {
  display: grid !important;
  grid-template-columns: 100px 300px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 6px 16px #3a3da01a;
  border-radius: 10px;
  opacity: 1;
  padding: 10px;
}
.camera1 h6 {
  padding-top: 30px;
  text-align: left;
  font-weight: bold;
  letter-spacing: 0px;
  color: #262d37;
  opacity: 1;
}
.camera1 P {
  margin-bottom: 10px;
  text-align: left;
  font: Albert Sans;
  letter-spacing: 0px;
  color: #48a3f1;
  opacity: 1;
}

/*------------------------------------------ my profile css-------------------------------------------*/
.profile {
  display: grid;
  grid-template-columns: 860px 280px;
  grid-gap: 20px;

  margin-bottom: 20px;
}
.myprofile {
  display: grid;
  grid-template-columns: 100px auto;
  grid-gap: 20px;
  box-shadow: 0px 5px 15px #3a3da01a;
  border-radius: 10px;
  opacity: 1;
  padding: 10px;
  padding-top: 30px;
}
.payment {
  display: flex;
  align-items: center;
  padding-left: 30px;
  box-shadow: 0px 5px 15px #3a3da01a;
  border-radius: 10px;
  opacity: 1;
}
.payment h5 {
  top: 313px;
  left: 1619px;
  width: 11px;
  height: 20px;
  opacity: 1;
  padding-top: 20px;
  /* padding-left: 30px; */
}

.payment h4 {
  top: 340px;
  left: 1270px;
  width: 169px;
  height: 34px;
  opacity: 1;
  margin-top: 10px;
}
.payment Image {
  background-color: #006fd1;
}

.bruce div > div:nth-child(1) > label {
  background: #e6e5ff;
  border-radius: 10px;
  opacity: 1;
  font-size: 13px;
  padding: 10px;
}
.bruce {
  margin-left: 20px;
}
.brue1 {
  display: grid !important;

  grid-template-columns: 70px 1fr;
  margin-left: 0px;
}

.bruce div > div:nth-child(2) > h6 {
  background: #e5ffea;
  border-radius: 10px;
  opacity: 1;
  padding: 10px;
  margin-right: 200px;
  max-width: 150px;
}
.bruce div > div:nth-child(2) > a {
  padding-left: 300px;
  text-decoration: none;
}

/*---------cards------- */
.myBooking {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 6px 16px #3a3da01a;
  border-radius: 10px;
  opacity: 1;
  margin-top: 30px;
  padding: 30px 30px 30px 30px;
}
.mycardprofile {
  display: grid;
  grid-template-columns: repeat(2,390px) !important;
  grid-gap: 20px;
  margin-bottom: 30px;
}

.myBooking div > div > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
}
.myBooking div > div > div:nth-child(1) > button {
  background: #e9f1fe 0% 0% no-repeat padding-box;
  border: 1px solid #2e7af6;
  border-radius: 5px;
  opacity: 1;
  text-align: left;
  font: normal normal 600 14px/44px Albert Sans;
  letter-spacing: 0px;
  color: #2e7af6;
  opacity: 1;
  width: 106px;
  height: 36px;
  padding-bottom: 40px;
  padding-left: 10px;
}

.myBooking div > div > div:nth-child(2) {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.myBooking div > div > div:nth-child(2) > h6 {
  grid-column: 2;
  padding-left: 11px;
  margin-top: 10px;
}

.myBooking div > div > div:nth-child(3) {
  display: flex;
  justify-content: flex-start;
  border-bottom: 2px solid black;
}
.myBooking div > div > div:nth-child(3) > h6 {
  padding-left: 11px;
  margin-top: 7px;
}
.myBooking div > div > div:nth-child(4) {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
}
.myBooking div > div > div:nth-child(4) > label {
  margin-top: 10px;
  margin-bottom: 15px;
}

/* 1st line 2nd cards css */
.myBooking_2 {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 6px 16px #3a3da01a;
  border-radius: 10px;
  opacity: 1;
  margin-top: 30px;
  padding: 30px 30px 30px 30px;
}
.mycardprofile_2 {
  display: grid;
  grid-template-columns: 430.33px 430.33px 430.33px;
  grid-gap: 20px;
}
.myBooking_2 div > div > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
}
.myBooking_2 div > div > div:nth-child(1) > button {
  background: #fbede9 0% 0% no-repeat padding-box;
  border: 1px solid #d94c2e;
  border-radius: 5px;
  opacity: 1;
  text-align: left;
  font: normal normal 600 14px/44px Albert Sans;
  letter-spacing: 0px;
  color: #d94c2e;
  text-transform: uppercase;
  opacity: 1;
  width: 106px;
  height: 36px;
  padding-bottom: 40px;
  padding-left: 10px;
}

.myBooking_2 div > div > div:nth-child(2) {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.myBooking_2 div > div > div:nth-child(2) > h6 {
  grid-column: 2;
  padding-left: 11px;
  margin-top: 10px;
}

.myBooking_2 div > div > div:nth-child(3) {
  display: flex;
  justify-content: flex-start;
  border-bottom: 2px solid black;
}
.myBooking_2 div > div > div:nth-child(3) > h6 {
  padding-left: 11px;
  margin-top: 7px;
}
.myBooking_2 div > div > div:nth-child(4) {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
}
.myBooking_2 div > div > div:nth-child(4) > label {
  margin-top: 10px;
  margin-bottom: 15px;
}

/* .myBooking_2 div > div > div:nth-child(5){
  display: flex;
  justify-content: space-between;  
} */
/* .myBooking_2 div > div > div:nth-child(5)>h6{
  margin-left: 10px;
  margin-top: 10px;
} */

/* .myBooking_2 div > div > div:nth-child(6){
  display: flex;
  justify-content: space-between;
   
} */

/* ------------2nd cars css------------------ */
.myBooking_3 {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 6px 16px #3a3da01a;
  border-radius: 10px;
  opacity: 1;
  margin-top: 30px;
  padding: 30px 30px 30px 30px;
}
.mycardprofile_3 {
  /* 2nd line cards css  */
  display: grid;
  grid-template-columns: repeat(3,360px) !important;
  grid-gap: 20px;
}
.myBooking_3 div > div > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
}
.myBooking_3 div > div > div:nth-child(1) > button {
  background: #f4f7ee 0% 0% no-repeat padding-box;
  border: 1px solid #8fae57;
  border-radius: 5px;
  opacity: 1;
  text-align: right;
  font: normal normal 600 14px/44px Albert Sans;
  letter-spacing: 0px;
  color: #8fae57;
  opacity: 1;
  width: 106px;
  height: 36px;
  padding-bottom: 40px;
}

.myBooking_3 div > div > div:nth-child(2) {
  display: grid;
  grid-template-columns: auto 1fr; /* set up two columns with the first column taking up as much space as needed by the content */
  align-items: center; /* vertically center the items */
}

.myBooking_3 div > div > div:nth-child(2) > h6 {
  grid-column: 2; /* place the h6 element in the second column */
  padding-left: 11px;
  margin-top: 10px;
}

.myBooking_3 div > div > div:nth-child(3) {
  display: flex;
  justify-content: flex-start;
  border-bottom: 2px solid black;
}
.myBooking_3 div > div > div:nth-child(3) > h6 {
  padding-left: 11px;
  margin-top: 7px;
}
.myBooking_3 div > div > div:nth-child(4) {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
}
.myBooking_3 div > div > div:nth-child(4) > label {
  margin-top: 10px;
  margin-bottom: 15px;
}

/* .myBooking_3 div > div > div:nth-child(5){
  display: flex;
  justify-content: space-between;  
}
.myBooking_3 div > div > div:nth-child(5)>h6{
  margin-left: 10px;
  margin-top: 10px;
}

.myBooking_3 div > div > div:nth-child(6){
  display: flex;
  justify-content: space-between;
   
} */

/*--------------------------------selectloction---and-----Reschedule---booking---------------------------- */
.gridcontainer {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-gap: 20px;
}

.input-group {
  position: relative;
}

.input {
  border: 1px solid #12121229;
  opacity: 1;
  padding: 5px;
  width: 400px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #12121229;
  border-radius: 5px;
}

.addrres1 {
  position: absolute;
  top: 10px;
  left: 8px;
  font-size: 14px;
  padding: 0px 5px;
  color: #121212;
  transition: 0.3s;
  pointer-events: none;
  background-color: #ffffff;
}
.input:focus + .addrres1 {
  top: -10px;
  color: #121212;
  background-color: #ffffff;

  /*-------------------------- reschedule booking ------------------- */
}
.addrres2 {
  position: absolute;
  top: -10px;
  left: 8px;
  font-size: 14px;
  padding: 0px 5px;
  color: #121212;
  transition: 0.3s;
  pointer-events: none;
  background-color: #ffffff;
}
.input:focus + .addrres2 {
  top: -10px;
  color: #121212;
  background-color: #ffffff;
}

.input-group {
  margin: 10px;
}

.selectbtn1 {
  background: linear-gradient(60deg, #ff8e3c, #b96c34);
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border-color: transparent;
  margin-left: 22px;
  margin-top: 20px;
  top: 700px;
  left: 200px;
  width: 214px;
  height: 50px;
}

/*----------------------------------- popup -------------------------------*/
.modal-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(54, 54, 54, 0.9);
}
.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50rem;
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 16px #3a3da01a;
}
.modal-btn {
  background: linear-gradient(60deg, #ff8e3c, #b96c34);
  color: #fff;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  border-color: transparent;
  margin-left: 250px;
  margin-top: 20px;
  top: 700px;
  left: 200px;
  width: 214px;
  height: 50px;
}
.reschedule {
  display: flex;
  justify-content: space-between;
  margin-left: 23px;
}
/*-------------------------- cancleBooking --------------------------*/
.modal-wrapper1 {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(54, 54, 54, 0.9);
}
.modal-container1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 40rem;
  background-color: #fff;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 16px #3a3da01a;
}
.cancle-btn1 {
  background: linear-gradient(60deg, #ff8e3c, #b96c34);
  color: #fff;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  border-color: transparent;
}
.Dismiss-btn1 {
  background-color: #eaeaea;
  color: #000000;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
  border-color: transparent;
  padding-left: 50px;
  padding-right: 50px;
}
.cancelbtn {
  display: grid;
  grid-template-columns: 200px 200px;
  gap: 1rem;
  margin-left: 30px;
}
.cancleBooking h4 {
  text-align: left;
  font: normal normal bold 24px/29px Albert Sans;
  letter-spacing: 0px;
  color: #121212;
  opacity: 1;
}
.Canclebooking p {
  text-align: center;
  font: normal normal medium 18px/24px Albert Sans;
  letter-spacing: 0px;
  color: #121212;
  opacity: 0.7;
  max-width: 260px;
  margin-left: 100px;
}
/* New Booking Styles */
.form-control:focus, .form-select:focus{
  border-color: orange !important;
  outline: none !important;
  box-shadow: 0 0 0 0.8px orange !important;
}